/* --- [ reset ] --- */

	body, p, ul, ol {

					margin: 										0;
					padding:										0;
}
	body {

					font-family: 								helvetica, arial, sans-serif;
					font-size: 									16px;
					color: 										rgba(255,255,255,1);
}
	img {

					/*width: 										90%;*/
}
	.page_background {

					height: 										auto;
					width: 										100%;
					min-height: 								100%;
					min-width: 									100%;
					position: 									fixed;
					top: 											0px;
					left: 										0px;
}
	#page_wrapper {

					position: 									relative;
					width: 										90%;
					margin: 										0 auto;
					margin-top: 								2em;
					max-width: 									1265px; /* screen-width = 1400px */
}

/* --- [ responsive grid ] --- */

	.module_100 {
	
					width: 										100%;
					margin-bottom: 							2em;
}
	.module_66 {

					width: 										66%;
					float: 										left;
}

	.module_33 {

					width: 										33%;
					float: 										left;
}
	.module_34: {

					width: 										34%;
}




/* --- [ page elements ] --- */

	#header {

					border: 										1px solid rgba(255,255,255,.8);
					border-radius: 							1em;
					background-color: 						rgba(0,0,0,.6);
}

	.logo {

					position: 									relative;
					height: 										8em;
					padding:										1em 2em 2em 2.53968253968254%;
}
	#business_byline {

					position: 									absolute;
					left: 										250px;
					top: 											70px;
					z-index: 									10;
					color:										rgba(255,255,255,1);
}
	#menu {

					position:									absolute;
					left: 										45.9127%; /* 50%-4.0873% = 45.9127% */
					top: 											115px;
					padding: 									4px 18px 4px 18px;
					border: 										1px solid rgba(255,255,206,.5);
					border-radius: 							.5em;
					color: 										rgba(255,255,206,1);

}
	#social_icons {

					width: 										2em;
					height: 										8em;
					position: 									relative;
					top: 											-9.85em;
					float:										right;
					padding-right:								2.53968253968254%; /* 32px/1260px */
}
	#credit_cards {

					width:										45px;
					height: 										120px;
					position:									relative;
					top: 											-10em;
					opacity: 									.6;
					/*left:											1000px;*/
					float:										right;
					padding-right: 							2.53968253968254%; /* 32px/1260px */
}
	#business_info_container {

					position: 									relative;
					top: 											-9.5em;
					/*left: 										1000px;*/
					float: 										right;
					padding-right: 							2.53968253968254%; /* 32px/1260px */
					text-align: 								right;
}
	#business_name {

					font-weight: 								bold;
					color: 										rgba(247,237,192,1);
					font-size: 									1.16em;
}
	#business_info_container a {

					color: 										rgba(255,255,255,.8);
					text-decoration: 							none;
}
	#business_info_container a:hover {

					color: 										rgba(0,255,0,1);
}
	#menu_and_social_601 {

					display: 									none;
}






/* --- [ min-width:962px and max-width:1023px and orientation:landscape ] --------------- */
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */


@media screen and (min-width:962px) and (max-width:1023px) and (orientation:landscape) {



}




/* --- [ min-width:480px and max-width:961px and orientation:landscape } ---------------- */
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */


@media screen and (min-width:480px) and (max-width:961px) and (orientation:landscape) {




}




/* --- [ min-width:602px and max-width:768px and orientation:portrait ] ---------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */


@media screen and (min-width:602px) and (max-width:786px) and (orientation:portrait) {

			body {

							color: 								red;
			}


}




/* --- [ min-width:320px and max-width:601 and orientation:portrait ] ------------------ */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */


@media screen and (min-width:320px) and (max-width:601px) and (orientation:portrait) {




}





/* --- [ min-width:768px and (max-width:962px) ] ---------------------------------------- */
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */




@media screen and (min-width:768px) and (max-width:962px) { /*(max-width:961px) { /*(min-width:601px) and (max-width:961px) { */

				#business_info_container {

					position:									relative;
					font-size: 									1em;
					top: 											-9.5em;
			}
				#business_byline {

					display: 									none;
			}
				#menu_and_social_601 {

					display: 									none;
			}	
}




/* --- [ min-width:480px and max-width:767px ] ------------------------------------------ */
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */




@media screen and (min-width:480px) and (max-width:767px) { /*(max-width:700px) { /* (max-width:601px) { */


				#business_info_container {

					position:									relative;
					font-size: 									.9em;
					top: 											-7.5em;
			}
				#business_byline, #business_name, #header_address_spacer {

					display: 									none;

			}
				.logo {

					position: 									relative;
					height: 										101px;
					padding: 									1em 5.91497227356747% 1em 2.53968253968254%;
			}
				.logo img {

					height: 										101px;
			}
				#menu_and_social_601 {

					border: 										1px solid rgba(255,255,255,.8);
					border-radius: 							.75em;
					background-color: 						rgba(0,0,0,.6);
					text-align: 								center;
			}
				.menu_and_social_601_container {

					margin: 										0 auto;
					display: 									inline-block;
					width: 										100%;
					position: 									relative;
					top: 											-1em;
			}
				#facebook {

					margin-right: 								7.40740740740741%; /* 2em(32px)/432px */
			}
				#pinterest {

					margin-right: 								7.40740740740741%; /* 2em(32px)/432px */ 
			}
				#menu_601 {

					position: 									relative;
					top: 											-.75em;
					margin-right: 								7.40740740740741%; /* 2em(32px)/432px */  
					padding: 									4px 18px 4px 18px;
					border: 										1px solid rgba(255,255,206,.5);
					border-radius: 							.5em;
					color: 										rgba(255,255,206,1);					
			}
				#googleplus {

					margin-right: 								7.40740740740741%; /* 2em(32px)/432px */
			}
/*				#twitter {

					margin-right: 								7.40740740740741%; /* 2em(32px)/432px  
			}*/

}












/* --- [ min-width:601 - max-width:767px media query ] ---------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */





@media screen and (min-width:601px) and (max-width:767px) { /* (max-width:961px) { */

	.logo {

					position: 									relative;
					padding: 									1em 2em 2em 2.53968253968254%;
}
	.logo img {

					height: 										6em;
}
	#business_info_container {

					top: 											-9.5em;
}
	#business_byline, #business_name, #header_address_spacer {

					display: 									none;
}
	#menu {

					position: 									absolute;
					left: 										45%;
					top: 											125px;
					padding: 									4px 18px 4px 18px;
					border: 										1px solid rgba(255,255,206,.5);
					border-radius: 							.5em;
					color: 										rgba(255,255,206,1);
}


}




/* --- [ min-width:602px and orientation:portrait ] ------------------------------------- */
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */




/*@media screen and (min-width:602px) and (max-width:768px) and (orientation:portrait) {


				#menu_and_social_601 {

					display: 									block; /* none; 
			}

}*/









/* --- [ min-width:321px and max-width:479px ] ------------------------------------------ 
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */




@media screen and (min-width:321px) and (max-width:479px) { /* was max-width:480px */


				#business_info_container {

					top: 											-6.5em;
				}

				#business_byline, #business_name, #header_address_spacer {

					display: 									none;

			}
				.logo {

					position: 									relative;
					height: 										101px;
					padding: 									1em 5.91497227356747% 1em 2.53968253968254%;
			}
				.logo img {

					height: 										101px;
			}
				#menu_and_social_601 {

					border: 										1px solid rgba(255,255,255,.8);
					border-radius: 							.75em;
					background-color: 						rgba(0,0,0,.6);
			}
				.menu_and_social_601_container {

					padding: 									1em 0 .75em 0;
			}
				#facebook {

					position: 									relative;
					top: 											0em;
					left: 										17.74491682070246%; /* 6em(96px)/541px */
			}
				#pinterest {

					position: 									relative;
					top: 											0em;
					left: 										23.65988909426987%; /* 8em(128px)/541px */
			}
				#menu_601 {

					position: 									relative;
					top: 											-.75em;
					left: 										29.57486136783734%; /* 10em(160px)/541px */
					padding: 									4px 18px 4px 18px;
					border: 										1px solid rgba(255,255,206,.5);
					border-radius: 							.5em;
					color: 										rgba(255,255,206,1);					
			}
				#googleplus {

					position: 									relative;
					top: 											0em;
					left: 										35.48983364140481%; /* 12em(192px/541px */
			}
				#twitter {

					position: 									relative;
					top: 											0em;
					left: 										41.40480591497227%;14em(224px)/541px */
			}



}













/* --- [ max-width:320 ] ---------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */




@media screen and (max-width:320px) {


		#page_wrapper {

					width: 										95%;
					margin-top: 								1em;
	}
		.module_100 {

					margin-bottom: 							1em;
	}
		#business_byline {

					display: 									none;
	}
		#business_info_container {

					/*top: 										-6.5em;*/
					display: 									none;
	}
		.logo {

					position: 									relative;
					height: 										101px;
					padding: 									1em 2em 1em 2.53968253968254%;
					margin-left: 								1.5em;
	}
		.logo img {

					height: 										101px;
	}
		#large_photo_container {

					display: 									none;
	}


	/* --- [ hidden items ] --- */

		#menu {

					display: 									none;
	}
		#social_icons {

					display: 									none;
	}




		#menu_and_social_601 {

			border: 										1px solid rgba(255,255,255,.8);
			border-radius: 							.75em;
			background-color: 						rgba(0,0,0,.6);
	}
		.menu_and_social_601_container {

			padding: 									1em 0 .75em .4em;
	}
		#facebook {

			position: 									relative;
			top: 											0em;
			left: 										4.29530201342282%; /* 12.8px/298px */;
	}
		#pinterest {

			position: 									relative;
			top: 											0em;
			left: 										6.44295302013423%; /* 19.2px(1.2em)/298px */
	}
		#menu_601 {

			position: 									relative;
			top: 											-.75em;
			left: 										9.66442953020134%; /* 28.8px(1.8em)/298px */
			padding: 									4px 18px 4px 18px;
			border: 										1px solid rgba(255,255,206,.5);
			border-radius: 							.5em;
			color: 										rgba(255,255,206,1);					
	}
		#googleplus {

			position: 									relative;
			top: 											0em;
			left: 										12.88590604026846%; /* 38.4px(2.4em)/298px */
	}
		#twitter {

			position: 									relative;
			top: 											0em;
			left: 										16.10738255033557%; /* 48px(3em)/298px */
	}	


}